@page
@model DemoSafety.Pages.principalModel
@{
    Layout = "/Pages/Shared/college.cshtml";
}
<div class="card bg-dark">
    <div class="card-body  text-center">
        <div class="row m-0 h-auto">
            <div class="col d-flex justify-content-center text-white">
                <b class="align-self-center">some content of principal's screen</b>
            </div>           
        </div>
    </div>
</div>