@page
@model DemoSafety.Pages.viewCertificateModel
@{
    Layout = "/Pages/Shared/college.cshtml";
}
@section Header {
    <li class="">
        <a asp-page="/principal" class="text-decoration-none">
            <button class="btn btn-toggle btn-light d-flex align-items-center w-100 text-dark" type="button">
                Dashboard
            </button>
        </a>
    </li>
    <li class="">
        <a asp-page="/viewCertificate" class="text-decoration-none">
            <button class="btn btn-toggle btn-light d-flex align-items-center w-100 text-dark" type="button">
                View Certificates
            </button>
        </a>
    </li>
    <li class="">
        <a asp-page="/addCertificate" class="text-decoration-none">
            <button class="btn btn-toggle btn-light d-flex align-items-center w-100 text-dark" type="button">
                Add Certificate
            </button>
        </a>
    </li>
}
<div class="card bg-dark">
    <div class="card-body  text-center">
        <div class="row m-0 h-auto">
            <div class="table-responsive mt-2">
                <table class="table table-dark table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Certificate ID</th>
                            <th scope="col">Student Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date Issued</th>
                            <th scope="col">Status</th>
                            <th scope="col">Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: 'https://localhost:7164/api/GetCertificate',
            method: 'GET',
            success: function (response) {
                var data = response.data;
                var tableBody = $('tbody');
                tableBody.empty();

                $.each(data, function (index, certificate) {
                    var row = '<tr>' +
                        '<td>' + certificate.certificateID + '</td>' +
                        '<td>' + certificate.studentName + '</td>' +
                        '<td>' + certificate.description + '</td>' +
                        '<td>' + new Date(certificate.dateIssued).toLocaleDateString() + '</td>' +
                        '<td>' + certificate.status + '</td>' +
                        '<td>' + new Date(certificate.lastUpdated).toLocaleString() + '</td>' +
                        '</tr>';
                    tableBody.append(row);
                });
            },
            error: function (error) {
                console.error('Error fetching certificates:', error);
            }
        });
    });
</script>